<%# Update the avatar display on the profile page %>
<%= turbo_stream.replace "user_avatar_profile" do %>
  <span id="user_avatar_profile" class="block relative">
    <%= avatar_for(Current.user, size: :xl) %>
  </span>
<% end %>

<%# Update the avatar in the navigation header %>
<%= turbo_stream.replace "user_avatar_header" do %>
  <span id="user_avatar_header"><%= avatar_for(Current.user, size: :md) %></span>
<% end %>

<%# Close the modal via Stimulus controller that fires on connect %>
<%= turbo_stream.append "modal-body" do %>
  <div data-controller="modal-closer"></div>
<% end %>

<%# Show success toast %>
<%= turbo_stream.prepend "toast-pills" do %>
  <%= render "shared/toast_pill", type: "notice", message: t(".success") %>
<% end %>
