<%= turbo_stream.replace "user_avatar_profile" do %>
  <%= avatar_for(Current.user, size: :xl) %>
<% end %>

<%= turbo_stream.replace "user_avatar_header" do %>
  <%= avatar_for(Current.user, size: :md) %>
<% end %>

<% if @close_modal %>
  <%= turbo_stream.append "modal-body" do %>
    <div data-controller="modal-closer"></div>
  <% end %>
<% end %>

<%= turbo_stream.append "toast-pills" do %>
  <%= render "shared/toast_pill", type: :success, message: t("account.avatars.update.success") %>
<% end %>
