<h1><%= t("authentication_mailer.password_reset_email.greeting", name: @user.first_name) %></h1>

<p><%= t("authentication_mailer.password_reset_email.body") %></p>

<p>
  <%= link_to t("authentication_mailer.password_reset_email.action"), @reset_url %>
</p>

<p><%= t("authentication_mailer.password_reset_email.expiry_note") %></p>

<p><%= t("authentication_mailer.password_reset_email.ignore_note") %></p>
