<%# Update the workspace logo display on the branding page %>
<%= turbo_stream.replace "workspace_logo_branding" do %>
  <span id="workspace_logo_branding"><%= workspace_icon_for(@workspace, size: :lg) %></span>
<% end %>

<%# Close the modal via Stimulus controller that fires on connect %>
<%= turbo_stream.append "modal-body" do %>
  <div data-controller="modal-closer"></div>
<% end %>

<%# Show success toast %>
<%= turbo_stream.prepend "toast-pills" do %>
  <%= render "shared/toast_pill", type: "notice", message: t(".success") %>
<% end %>
